html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  background-color: #d05c2e;
  text-align: center;
  margin: 0;
}

.first {
  padding: .5em 0 0;
}

.img {
  float: left;
  width: 40px;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  margin: .3rem;
}

body {
  margin: 0;
}

.imgg {
  float: right;
  width: 40px;
}

.list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  padding: .4rem 0;
}

.col {
  float: left;
  width: 33.3%;
  background-color: #d05c2e;
  border: 1px solid #a63f38;
}

.col:hover {
  background-color: #a63f38;
}
