html {
  box-sizing: border-box;
  line-height:1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  background-color: #d05c2e;
}
.list {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}
